<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinary Doctors list</title>
    <link rel="stylesheet" href="css/Docstyle.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <header>
        <h1>Veterinary Doctors</h1>
    </header>
    <nav>
        <ul>
            <li><a href="Homepage.html"><i class='bx bxs-home'></i>Home</a></li>
            <li><a href="index/index.html"><i class='bx bxs-shopping-bag'></i>Shop</a></li>
            <li><a href="#"><i class='bx bxs-phone'></i>Contact</a></li>
            <!-- <li><a href="doctor profile.html"><i class='bx bxs-phone'></i>Login as a Doctor</a></li> -->
        </ul>
    </nav>
    <div class="container">
        <section class="card">
            <div class="card_img">
                <img src="image/docphoto (1).jpg" alt="Doctor 1">
            </div>
            <div class="content">
                <h2>Name: Md. Nur Siddik Ruman</h2>
                <p>ID: 2004098</p>
                <p>Email: u2004098@student.cuet.ac.bd</p>
                <p>Home: Bogura</p>
                <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </section>
        <section class="card">
            <div class="card_img">
                <img src="image/docphoto (2).jpg" alt="Doctor 2">
            </div>
            <div class="content">
                <h2>Name 2</h2>
                <p>Specialization: Large Animals</p>
                <p>Experience: 8 years</p>
                <p>Location: Bogura</p>
                <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </section>
        <section class="card">
            <div class="card_img">
                <img src="image/docphoto (3).jpg" alt="Doctor 2">
            </div>
            <div class="content">
                <h2>Name 2</h2>
                <p>Specialization: Large Animals</p>
                <p>Experience: 8 years</p>
                <p>Location: Bogura</p>
                <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </section>
        <section class="card">
            <div class="card_img">
                <img src="image/docphoto (4).jpg" alt="Doctor 2">
            </div>
            <div class="content">
                <h2>Name 2</h2>
                <p>Specialization: Large Animals</p>
                <p>Experience: 8 years</p>
                <p>Location: Bogura</p>
                <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </section>
        <section class="card">
            <div class="card_img">
                <img src="image/docphoto (5).jpg" alt="Doctor 2">
            </div>
            <div class="content">
                <h2>Name 2</h2>
                <p>Specialization: Large Animals</p>
                <p>Experience: 8 years</p>
                <p>Location: Bogura</p>
                <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </section>
        <section class="card">
            <div class="card_img">
                <img src="image/docphoto (1).jpg" alt="Doctor 2">
            </div>
            <div class="content">
                <h2>Name 2</h2>
                <p>Specialization: Large Animals</p>
                <p>Experience: 8 years</p>
                <p>Location: Bogura</p>
                <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </section>
        <section class="card">
            <div class="card_img">
                <img src="image/docphoto (2).jpg" alt="Doctor 2">
            </div>
            <div class="content">
                <h2>Name 1</h2>
                <p>Specialization: Small Animals</p>
                <p>Experience: 10 years</p>
                <p>Location: Cumilla</p>
                <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </section>
        <section class="card">
            <div class="card_img">
                <img src="image/docphoto (3).jpg" alt="Doctor 2">
            </div>
            <div class="content">
                <h2>Name 1</h2>
                <p>Specialization: Small Animals</p>
                <p>Experience: 10 years</p>
                <p>Location: Cumilla</p>
                <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </section>
        <section class="card">
            <div class="card_img">
                <img src="image/docphoto (4).jpg" alt="Doctor 2">
            </div>
            <div class="content">
                <h2>Name 1</h2>
                <p>Specialization: Small Animals</p>
                <p>Experience: 10 years</p>
                <p>Location: Cumilla</p>
                <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </section>
        <footer>
            <!-- Footer content goes here -->
        </footer>
</body>

</html>